/* UserList.css */
.content {
  display: flex;
  flex-direction: column;
}
.container-list {
  max-width: 1024px;
  overflow-x: auto;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
}

table th,
table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
  background-color: #000;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.selected-user {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.selected-user p {
  margin: 5px 0;
}
